.directions {
  &__title {
    font-family: "Tahoma", sans-serif;
    font-weight: 600;
    font-size: 140px;
    line-height: 120px;
    -webkit-text-stroke: 1px var(--light-color);
    text-transform: uppercase;
    color: var(--section-bg-color);

    span {
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(135deg, #fff 0%, #fff 50%, transparent 50%);
      background-size: 0 100%;
      background-repeat: no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      transition: background-size 1s ease-in-out;

      &:hover {
        background-size: 250% 100%;
      }

      &.active {
        background-size: 250% 100%;
      }
    }

    @include large-desktop {
      font-size: 120px;
    }

    @include big-desktop {
      font-size: 100px;
    }

    @include small-tablet {
      font-size: 55px;
      line-height: 120px;
    }

    @include mobile {
      font-size: 43px;
    }
  }

  .solutions {
    position: relative;
    z-index: 2;
    padding-top: 140px;
    background-color: var(--section-bg-color);

    &__container {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      height: 100%;
    }

    &__info {
      max-width: 873px;
      font-size: 28px;
      line-height: 50px;
      color: #fff;

      @include large-desktop {
        max-width: 648px;
        font-size: 24px;
        line-height: 40px;
      }

      @include big-desktop {
        justify-self: start;
        max-width: 700px;
      }

      @include small-tablet {
        font-size: 18px;
        line-height: 28px;
      }
    }

    &__title {
      justify-self: right;
      padding-bottom: 174px;
      transform: translate(144px, 40px);

      @include big-desktop {
        padding-bottom: 85px;
        transform: translate(256px, 40px);
      }

      @include small-tablet {
        padding-bottom: 0;
        transform: translate(170px, 0);
      }

      @include mobile {
        text-align: center;
      }
    }

    @include large-desktop {
      padding-top: 204px;
    }

    @include big-desktop {
      padding-top: 161px;
      background-color: transparent;
    }

    @include small-tablet {
      padding-top: 88px;
    }
  }

  .marketing {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    padding-top: 63px;
    background: linear-gradient(90deg, #252525 0%, #745cd3 32.29%);

    &__title {
      position: relative;
      z-index: 2;
      justify-self: center;
      grid-column: 1 / -1;
      margin-bottom: 52px;

      @include large-desktop {
        transform: translate(165px, 0);
      }

      @include big-desktop {
        grid-column: 1;
        grid-row: 3;
        margin-bottom: 0;
        transform: translate(142px, 10px);
      }

      @include small-tablet {
        grid-row: 4;
      }
    }

    &__image {
      position: relative;
      z-index: 1;
      object-fit: cover;
    }

    .image-1 {
      grid-column: 1;
      grid-row: 2;
      transform: translate(21px, -193px);

      @include large-desktop {
        width: 400px;
        height: 330px;
        transform: translate(77px, -134px);
      }

      @include big-desktop {
        grid-row: 1;
      }

      @include small-tablet {
        justify-self: center;
        width: 335px;
        height: 276px;
        transform: translate(0, 0);
      }
    }

    .image-2 {
      grid-column: 3;
      grid-row: 2;
      transform: translate(300px, -89px);

      @include large-desktop {
        transform: translate(370px, -89px);
      }

      @include big-desktop {
        z-index: 2;
        grid-column: 1;
        grid-row: 4;
        transform: translate(0, 28px);
      }

      @include small-tablet {
        grid-row: 5;
        transform: translate(30px, 0);
      }
    }

    .image-3 {
      grid-column: 2;
      grid-row: 3;

      @include large-desktop {
        justify-self: center;
        grid-column: 1 / -1;
        width: 420px;
        height: 236px;
      }

      @include big-desktop {
        align-self: end;
        grid-row: 1;
      }

      @include small-tablet {
        display: none;
      }
    }

    &__list {
      position: relative;
      z-index: 2;
      grid-row: 2;
      width: 100%;
      transform: translateX(68px);

      @include large-desktop {
        grid-column: 2 / 4;
        max-width: 806px;
      }

      @include big-desktop {
        grid-column: 1;
        grid-row: 2;
        padding-top: 105px;
      }

      @include small-tablet {
        grid-row: 3;
        padding-top: 50px;
        max-width: 280px;
        transform: translateX(50px);
      }
    }

    &__item {
      list-style: square inside;
      font-size: 34px;
      line-height: 50px;
      color: var(--light-color);

      @include large-desktop {
        font-size: 30px;
        line-height: 40px;
      }

      @include small-tablet {
        list-style-position: outside;
        font-size: 18px;
        line-height: 28px;
      }
    }

    @include large-desktop {
      padding-top: 45px;
    }

    @include big-desktop {
      grid-template-columns: 1fr;
      background: transparent;
    }
  }

  .media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    padding-top: 100px;
    background: linear-gradient(90deg, #745cd3 24.76%, #252525 100%);

    &__title-1 {
      justify-self: center;
      grid-column: 1 / -1;
      transform: translateX(-110px);

      @include big-desktop {
        display: none;
      }
    }

    &__title-2 {
      grid-column: 1 / -1;
      grid-row: 3 / -1;
      transform: translateY(-30px);

      @include big-desktop {
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 50px;
        transform: translateY(0);
      }
    }

    &__list {
      position: relative;
      z-index: 2;
      align-self: center;
      justify-self: left;
      grid-column: 2;
      grid-row: 2;

      @include large-desktop {
        transform: translate(34px, 10px);
      }

      @include big-desktop {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 30px;
      }

      @include small-tablet {
        justify-self: left;
        transform: translate(32px, 0);
      }
    }

    &__item {
      list-style: square inside;
      font-size: 34px;
      line-height: 50px;
      color: var(--light-color);

      @include large-desktop {
        font-size: 30px;
        line-height: 40px;
      }

      @include small-tablet {
        font-size: 18px;
        line-height: 28px;
      }
    }

    &__image {
      position: relative;
      z-index: 1;
      display: none;
      grid-column: 1;
      grid-row: 2;
    }

    &__video {
      grid-column: 3;
      grid-row: 2;
      width: 894px;
      height: 536px;
      background-color: #ccc;
      transform: translate(-67px, -60px);

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include large-desktop {
        width: 637px;
        height: 382px;
        transform: translate(-50px, -110px);
      }

      @include big-desktop {
        justify-self: center;
        grid-column: 1;
        grid-row: 3;
        margin-bottom: 120px;
        transform: translate(-30px, 0);
      }

      @include small-tablet {
        margin-right: 40px;
        width: 334px;
        height: 196px;
        transform: translate(0, 0);
      }

      @include mobile {
        width: 280px;
      }
    }

    @include large-desktop {
      padding-top: 45px;
    }

    @include big-desktop {
      grid-template-columns: 1fr;
      background: transparent;
    }
  }

  @include big-desktop {
    background: linear-gradient(180deg, #252525 20%, #745cd3 48.44%, #7059ca 66.15%, #252525 100%);
  }
}

.scroller {
  width: 100vw;
  height: 100vh;
}

.scroller__container {
  display: flex;
  flex-wrap: nowrap;
  width: 400%;
  height: 100%;
}

.panel {
  width: 100vw;
}
