<section class="about" id="about">
  <div class="about__container">
  <h2 class="section-title about__title">О нас</h2>
  <div class="about__content">
    <div class="about__video">
    <picture>
      <source srcset="../img/about/about-logo.avif" type="image/avif">
      <source srcset="../img/about/about-logo.webp" type="image/webp">
      <img src="../img/about/about-logo.png" class="partners__img"
           alt="логотип Master Shelt">
    </picture>
    </div>
    <!--<div class="about__images">
      <img class="about__image" src="../img/team-img.jpg" alt="team image">
      <img class="about__image" src="../img/team-img.jpg" alt="team image">
    </div>-->
<!--    <video id="video" autoplay playsinline muted loop width="400" class="about__video">-->
<!--      <source src="../video/planet.webm" type='video/webm'>-->
<!--      <source src="../video/planet.ogv" type='video/ogg'>-->
<!--      <source src="../video/planet.mp4" type='video/mp4'>-->
<!--    </video>-->
    <div class="about__info">
      <p class="about__info--text">С 2008 года Master-shelt делает всё, чтобы Ваш проект быстро
        и эффективно выполнял поставленные задачи.
        Мы осуществляем профессиональную разработку, продвижение и поддержку любой сложности,
        индивидуально подходим к каждому проекту и готовы предложить самые актуальные и нестандартные современные решения.</p>
      <div class="about__info--stats">
        <div class="about__info--stat stat">
          <span id="stat-1" class="stat__number">0</span>
          <span class="stat__descr">год основания компании</span>
        </div>
        <div class="about__info--stat stat">
            <span id="stat-2" class="stat__number">0</span>
            <span class="stat__descr">выполненных проекта разной сложности</span>
        </div>
        <div class="about__info--stat stat">
            <span id="stat-3" class="stat__number">0</span>
            <span class="stat__descr">человек&nbsp;в&nbsp;штате компании</span>
          </div>
      </div>
    </div>
  </div>
  </div>
</section>

<div class="marquee__wrapper about__marque"  id="marquee">
  <marquee-item data-speed="20" data-clone="4">
    <div>
      <span>
        <span class="divider"></span>
        <span>&nbsp;Graphic design&nbsp;</span>
        <span class="divider"></span>
        <span>&nbsp;Marketing&nbsp;</span>
        <span class="divider"></span>
        <span>&nbsp;Development&nbsp;</span>
        <span class="divider"></span>
        <span>&nbsp;Production&nbsp;</span>
        <span class="divider"></span>
        <span>&nbsp;Analytics&nbsp;</span>
      </span>
    </div>
  </marquee-item>
</div>
