<section class="directions scroller" id="directions">
  <div class="scroller__container">
    <div class="directions__solutions solutions panel">
      <div class="solutions__container">
        <div class="solutions__info">
        <ul class="marketing__list">
          <li class="marketing__item">Мы предоставляем услуги аутсорсинга
            для реализации сложных IT-решений;
          </li>
          <li class="marketing__item">разрабатываем решения на основе машинного обучения (AI): распознование лиц,
            эмоций, автоматизация систем видео наблюдения, различные трекеры;
          </li>
          <li class="marketing__item">разрабатываем решения аналитики на базе BigData (систематизация, структурирование
            больших данных, аналитика отраслей)
          </li>
        </ul>
        </div>
        <div class="directions__title solutions__title">
          <span>IT-РЕШЕНИЯ</span></div>
      </div>
    </div>
    <div class="directions__marketing marketing panel">
      <div class="directions__title marketing__title">
        <span>МАРКЕТИНГ</span>
      </div>
      <img class="marketing__image image-1" src="../img/marketing/marketing-1.jpg" alt="marketing banner">
      <img class="marketing__image image-2" src="../img/marketing/marketing-2.jpg" alt="marketing banner">
      <img class="marketing__image image-3" src="../img/marketing/marketing-3.jpg" alt="marketing banner">
      <ul class="marketing__list">
        <li class="marketing__item">создание/развитие личного бренда</li>
        <li class="marketing__item">организация мероприятий</li>
        <li class="marketing__item">разработка и запуск рекламных кампаний и спецпроектов</li>
        <li class="marketing__item">медийная реклама</li>
        <li class="marketing__item">SEO-продвижение, SMM, видеореклама</li>
        <li class="marketing__item">разработка брендинга</li>
        <li class="marketing__item">performance-маркетинг</li>
      </ul>
    </div>
    <div class="directions__media media panel">
      <div class="directions__title media__title-1">
        <span>ФОТО</span>
      </div>
      <img class="media__image" src="../img/marketing/marketing-2.jpg" alt="media banner"/>
      <div class="media__video">
        <video controls poster="../img/marketing/marketing-4.jpg">
          <source src="../video/planet.mp4" type="video/mp4">
        </video>
      </div>
      <ul class="media__list">
        <li class="media__item">продюсирование</li>
        <li class="media__item">пре-продакшн</li>
        <li class="media__item">продакшн</li>
        <li class="media__item">пост-продакшн</li>
        <li class="media__item">создание анимации</li>
      </ul>
      <div class="directions__title media__title-2">
        <span>ВИДЕОКОНТЕНТ</span>
      </div>
    </div>
  </div>
  <div id="trigger2"></div>
</section>



