<section class="events" id="events">
  <div class="events__container">
    <h2 class="section-title events__title">МЕРОПРИЯТИЯ</h2>
    <div class="events__btns">
      <div class="events__filter filter"></div>
      <a class="btn-reset events__registration--btn" href="#contact" data-scroll>Регистрация</a>
    </div>
    <div class="events__slider-wraper">
      <div class="events__slider">
        <div class="events__slider-inner">
        </div>
      </div>
      <div class="progress-bar">
        <div class="progress-bar__inner"></div>
      </div>
    </div>
  </div>
  <div class="modals">
    <div class="modal-overlay">
      <div class="modal"></div>
    </div>
  </div>
 </section>
