<section id="hero" class="hero">

  <div class="hero__overlay">
    <div class="overlay"></div>
    <div id="parallax-container" class="hero__gallery">
      <picture>
        <source srcset="../img/hero/img-0.avif" type="image/avif">
        <source srcset="../img/hero/img-0.webp" type="image/webp">
        <img class="layer bg-img-1" data-speed="-5"  src="../img/hero/img-0.jpg" alt="gallery-image"/>
      </picture>
      <picture>
        <source srcset="../img/hero/img-6.avif" type="image/avif">
        <source srcset="../img/hero/img-6.webp" type="image/webp">
        <img class="layer bg-img-2" data-speed="2" src="../img/hero/img-6.jpg" alt="gallery-image"/>
      </picture>
      <picture>
        <source srcset="../img/hero/img-2.avif" type="image/avif">
        <source srcset="../img/hero/img-2.webp" type="image/webp">
        <img class="layer bg-img-3" data-speed="7" src="../img/hero/img-2.jpg" alt="gallery-image"/>
      </picture>
      <picture>
        <source srcset="../img/hero/img-4.avif" type="image/avif">
        <source srcset="../img/hero/img-4.webp" type="image/webp">
        <img class="layer bg-img-4" data-speed="-2" src="../img/hero/img-4.jpg" alt="gallery-image"/>
      </picture>
      <picture>
        <source srcset="../img/hero/img-3.avif" type="image/avif">
        <source srcset="../img/hero/img-3.webp" type="image/webp">
        <img class="layer bg-img-5" data-speed="3"  src="../img/hero/img-3.jpg" alt="gallery-image"/>
      </picture>
      <picture>
        <source srcset="../img/hero/img-5.avif" type="image/avif">
        <source srcset="../img/hero/img-5.webp" type="image/webp">
        <img class="layer bg-img-6" data-speed="-9"   src="../img/hero/img-5.jpg" alt="gallery-image"/>
      </picture>
      <picture>
        <source srcset="../img/hero/img-7.avif" type="image/avif">
        <source srcset="../img/hero/img-7.webp" type="image/webp">
        <img class="layer bg-img-7" data-speed="5"   src="../img/hero/img-7.jpg" alt="gallery-image"/>
      </picture>
  </div>
  </div>

  <div class="container hero__container">

    <div class="menu">
      <div id="menu-button" class="menu-button">
        <div class="rotated"></div>
      </div>
      <div class="square"></div>
    </div>
    <ul class="nav-links">
      <li><a href="#about" data-scroll>О нас</a></li>
      <li><a href="#directions" data-scroll>Услуги</a></li>
      <li><a href="#events" data-scroll>Мероприятия</a></li>
      <li><a href="#contact" data-scroll>Контакты</a></li>
      <li><a href="#partners" data-scroll>Партнеры</a></li>
<!--      <li><a href="#investments" data-scroll>Инвестиции</a></li>-->
    </ul>

    <a class="hero__logo" href="/">
      <img src="../img/main-logo.png" alt="main logo"/>
    </a>

    <div class="hero__contacts">
      <a class="hero__contacts--phone" href="tel:+74957904456">+7 495 790 44 56</a>
      <a class="hero__contacts--email" href="mailto:mailbox@master-shelt.com">mailbox@master-shelt.com</a>
    </div>

  <h1 id="blink-title" class="hero__title">больше, чем просто<br> <span>IT компания</span></h1>
    <a class="hero__btn btn-reset cta-btn" href="#contact-form" data-scroll></a>
  </div>
</section>
  <div id="trigger1"></div>
