<section class="partners" id="partners">
    <div class="partners__banner">
      <picture>
        <source srcset="../img/partners/partners-banner.avif" type="image/avif">
        <source srcset="../img/partners/partners-banner.webp" type="image/webp">
        <img loading="lazy" src="../img/partners/partners-banner.jpg" class="partners__banner--img"
             alt="фото наших партнеров">
      </picture>
    </div>
  <div class="partners__container">
    <div class="partners__content">
        <h2 class="section-title partners__title">Наши партнеры</h2>
        <a class="btn-reset cta-btn partners__btn" href="#contact-form" data-scroll></a>
        <ul class="partners__list">
          <!--<li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/sber-logo.avif" type="image/avif">
              <source srcset="../img/partners/sber-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/sber-logo.png" class="partners__img"
                   alt="логотип сбербанк">
            </picture>
          </li>
          <li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/bitrix-logo.avif" type="image/avif">
              <source srcset="../img/partners/bitrix-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/bitrix-logo.png" class="partners__img"
                   alt="логотип битрикс">
            </picture>
          </li>
          <li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/sovcombank-logo.avif" type="image/avif">
              <source srcset="../img/partners/sovcombank-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/sovcombank-logo.png" class="partners__img"
                   alt="логотип совкомбанк">
            </picture>
          </li>
          <li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/amocrm-logo.avif" type="image/avif">
              <source srcset="../img/partners/amocrm-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/amocrm-logo.png" class="partners__img"
                   alt="логотип amoCRM">
            </picture>
          </li>
          <li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/solomon-logo.avif" type="image/avif">
              <source srcset="../img/partners/solomon-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/solomon-logo.png" class="partners__img"
                   alt="логотип solomon group">
            </picture>
          </li>
          <li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/nahate-logo.avif" type="image/avif">
              <source srcset="../img/partners/nahate-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/nahate-logo.png" class="partners__img"
                   alt="логотип Nahate">
            </picture>
          </li>
          <li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/my-gelato-logo.avif" type="image/avif">
              <source srcset="../img/partners/my-gelato-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/my-gelato-logo.png" class="partners__img"
                   alt="логотип MY GELATO">
            </picture>
          </li>
          <li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/IZIGroup-logo.avif" type="image/avif">
              <source srcset="../img/partners/IZIGroup-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/IZIGroup-logo.png" class="partners__img"
                   alt="логотип IZIGROUP">
            </picture>
          </li>
          <li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/flash-logo.avif" type="image/avif">
              <source srcset="../img/partners/flash-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/flash-logo.png" class="partners__img"
                   alt="логотип Flash">
            </picture>
          </li>
          <li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/crypto-need-logo.avif" type="image/avif">
              <source srcset="../img/partners/crypto-need-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/crypto-need-logo.png" class="partners__img"
                   alt="логотип CRYPTO NEED">
            </picture>
          </li>
          <li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/botindex-logo.avif" type="image/avif">
              <source srcset="../img/partners/botindex-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/botindex-logo.png" class="partners__img"
                   alt="логотип Botindex">
            </picture>
          </li>
          <li class="partners__list&#45;&#45;item">
            <picture>
              <source srcset="../img/partners/loveis-logo.avif" type="image/avif">
              <source srcset="../img/partners/loveis-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/partners/loveis-logo.png" class="partners__img"
                   alt="логотип loveis">
            </picture>
          </li>-->
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture sber"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture bitrix"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture sovcombank"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture amocrm"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture solomon"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture nahate"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture gelato"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture IZIGroup"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture flash"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture crypto"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture botindex"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture loveis"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture kfc"></div>
          </li>
          <li class="partners__list&#45;&#45;item">
            <div class="item-picture constellation"></div>
          </li>
        </ul>
    </div>
  </div>
</section>
