<section class="services">
  <div class="services__banners">
    <div class="services__banners--track">
      <div class="services__banner">
      <picture>
        <source srcset="./img/services/services-slide-1.avif" type="image/avif">
        <source srcset="./img/services/services-slide-1.webp" type="image/webp">
        <img src="../img/services/services-slide-1.jpg" alt="пример наших работ 1"/>
      </picture>
      </div>
      <div class="services__banner">
        <picture>
          <source srcset="./img/services/services-slide-2.avif" type="image/avif">
          <source srcset="./img/services/services-slide-2.webp" type="image/webp">
          <img src="../img/services/services-slide-2.jpg" alt="пример наших работ 2"/>
        </picture>
      </div>
      <div class="services__banner">
        <picture>
          <source srcset="./img/services/services-slide-3.avif" type="image/avif">
          <source srcset="./img/services/services-slide-3.webp" type="image/webp">
          <img src="../img/services/services-slide-3.jpg" alt="пример наших работ 3"/>
        </picture>
      </div>
      <div class="services__banner">
        <picture>
          <source srcset="./img/services/services-slide-4.avif" type="image/avif">
          <source srcset="./img/services/services-slide-4.webp" type="image/webp">
          <img src="../img/services/services-slide-4.jpg" alt="пример наших работ 4"/>
        </picture>
      </div>
      <div class="services__banner">
        <picture>
          <source srcset="./img/services/services-slide-5.avif" type="image/avif">
          <source srcset="./img/services/services-slide-5.webp" type="image/webp">
          <img src="../img/services/services-slide-5.jpg" alt="пример наших работ 5"/>
        </picture>
      </div>
      <div class="services__banner">
        <picture>
          <source srcset="./img/services/services-slide-6.avif" type="image/avif">
          <source srcset="./img/services/services-slide-6.webp" type="image/webp">
          <img src="../img/services/services-slide-6.jpg" alt="пример наших работ 6"/>
        </picture>
      </div>
      <div class="services__banner">
        <picture>
          <source srcset="./img/services/services-slide-7.avif" type="image/avif">
          <source srcset="./img/services/services-slide-7.webp" type="image/webp">
          <img src="../img/services/services-slide-7.jpg" alt="пример наших работ 7"/>
        </picture>
      </div>
      <div class="services__banner">
        <picture>
          <source srcset="./img/services/services-slide-8.avif" type="image/avif">
          <source srcset="./img/services/services-slide-8.webp" type="image/webp">
          <img src="../img/services/services-slide-8.jpg" alt="пример наших работ 8"/>
        </picture>
      </div>
      <div class="services__banner">
        <picture>
          <source srcset="./img/services/services-slide-9.avif" type="image/avif">
          <source srcset="./img/services/services-slide-9.webp" type="image/webp">
          <img src="../img/services/services-slide-9.jpg" alt="пример наших работ 9"/>
        </picture>
      </div>
    </div>
  </div>
  <div class="services__container">
    <span class="services__text">Мы создаем:</span>
    <ul class="services__items">
      <li class="services__item">Graphic design</li>
      <li class="services__item">Marketing</li>
      <li class="services__item">Development</li>
      <li class="services__item">Production</li>
      <li class="services__item">Analytics</li>
    </ul>
  </div>
</section>
